body {
  width: 100%;
}

* {
  font-family: "Lato", Helvetica sans-serif;
  h1 {
    font-weight: 700;
  }
  a {
    text-decoration: none;
  }
  list-style: none;
  background-color: bisque;
}
.currentFlag {
  width: 30px;
  height: 20px;
  background-image: url("../images/flags.png");
  background-position: 0 0;

}
.sprite {
  width: 29px;
  height: 20px;
  background-color: white;
  background-image: url("../images/flags.png");
  a {
    width: 29px;
    height: 20px;
  }
}


.flag-uk {
  background-position: 0 0;
}

.flag-cz {
  background-position: 0 -30px;
}
.flag-de {
  background-position: 0 -60px;
}
.flag-es {
  background-position: 0 -90px;
}
.flag-pt {
  background-position: 0 -120px;
}
.flag-fr {
  background-position: 0 -150px;
}
.flag-it {
  background-position: 0 -180px;
}
.flag-ru {
  background-position: 0 -209px;
}
.flag-tur {
  background-position: 0 -238px;
}
.flag-br {
  background-position: 0 -267px;
}

.btn {
  font-size: 75%;
  white-space:nowrap;
  padding:.8em 1.5em;
  display: inline-block;
  color: #fff;
  text-align: center;
  border-radius: 0.3rem;

}
.btn-green {
  background-color: rebeccapurple;
}
.btn-green:hover {
  background-color: darken(rebeccapurple, 10%);
  transition: 1s;
}

.btn-blue {
  background-color: deepskyblue;
}
.btn-blue:hover {
  background-color: darken(deepskyblue, 10%);
  transition: 1s;
}

//Arrows for show more

.arrow-down {

  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #6c7a89;
}

nav {
  float: left;
  width: 100%;

  * {
    background-color: white;
  }




  .headerColumns {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    .leftSideOfHeader {
      width: 50%;
      h1 {
        margin-left: 3rem;
      }
    }
    .rightSideOfHeader {
      width: 50%;
      display: flex;
      flex-flow: row;
      justify-content: flex-end;

      .langUK {
        margin-right: 3rem;
        padding-top: 1.5rem;
        display: flex;
        flex-direction: row;
        position: relative;
        cursor: pointer;

        img {
          cursor: pointer;
        }
        .arrow-down {
          margin-top: 0.5rem;
          margin-left: 0.2rem;
          cursor: pointer;
        }

      }
      .langChooser {
        background: white;
        padding: 1rem;
        border: 1px solid gray;
        margin-top: 1rem;
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 99;

        a {
          margin-bottom: 1rem;
          background-color: white;
        }

        a:last-of-type {
          margin: 0;
        }

      }
      .hidden {
        display: none;
      }


    }



  }



}
