* {
  font-family: "Lato", Helvetica sans-serif;
  h1 {
    font-weight: 700;
  }
  h2 {
    font-size: 16px;
    font-weight: 400;
  }
  p {
    font-size: 13px;
    font-weight: 400;
  }
  a {
    text-decoration: none;
  }
  list-style: nonemagnifyingGlass.svg;
}